{% extends 'base.html' %}
{% block title %}About - Portfolio{% endblock %}

{% block content %}
<section class="about-section">
    <h1>About Me!</h1>
    <p>Hello! I'm <strong>Sagar kumar</strong>, a 3rd-year B.Tech student passionate about building modern web apps.</p>
    
    <h2><u> Education:</u> </h2>
    <ul>
    <p><u>Matriculation</u>:
        <P>school: BVRHS,Gobara,Ganjam<P>
        <P>years attended:2012-21,<P></p>
     <p><u>Intermidiate</u>:
        <p>School: Nalanda vidya mandir HSC,Berhampur,Ganjam<p>
       <p> years attended:2021-23<p></p>
       <p><u> Graduation</u> :   
    <p>B.Tech in Computer Science GIET University,Gunupur, Expected 2027</p>
     </ul>
    

    <h2><u> Skills:</u> </h2>
<ul>
        <li>Frontend: HTML, CSS, JavaScript, React</li>
        <li>Backend: Python, Flask, Node.js</li>
        <li>Tools: Git, VS Code, Postman</li>
    </ul>

    <h2><u> Achievements: </u></h2>
    <ul>
        <li>Built multiple full-stack projects using Flask and MERN stack</li>
        <li>Completed Python Internship at Asirudh software  Pvt .Ltd</li>
    </ul>
</section>
{% endblock %}