{% extends 'base.html' %}
{% block title %}Projects - Portfolio{% endblock %}

{% block content %}
<section class="project-section">
    <h1>Projects:-</h1>
    <ul>
    <div class="project-list">
        <div class="project">
            <h3>Portfolio Website :</h3>
            <p> Built with Flask, HTML, CSS. Showcases personal info and projects.</p>
        </div>
    </ul>
        <div class="project">
         <ul>
            <h3>Music player app :</h3>
            <p> A web app using HTML, CSS and JavaScript.</p>
        </div>
    </ul>
        <div class="project">
    <ul>
            <h3>Movie recommendation app :</h3>
            <p> A web app by using Vite+React,TMDB API,NOde js. </p>
        </div>
    </ul>
    </div>
</section>
{% endblock %}